body {
    margin: 0px;
  }

  img {
    width: auto;
    height: 42px;
  }

  .cabecalho {
    background: linear-gradient(45deg, #fff, #3f59ed);
    padding: 15px;
  }

  .menu {
    display: flex;
    justify-content: center;
  }
